/* MAIN LAYOUT */
body {
  margin: 0;
  font-family: sans-serif;
}
.layout {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  align-items: flex-start;
}
.panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 150px;
  box-sizing: border-box;
}
.panel.blue {
  background-color: lightblue;
}
.panel.orange {
  background-color: orange;
}
.info {
  margin-bottom: 10px;
}
.info label {
  font-weight: bold;
}
.info input {
  width: 80px;
  text-align: center;
  margin-left: 5px;
}
canvas {
  border: 1px solid black;
  background: white;
  display: block;
}
button {
  margin-top: 10px;
}
/* Row of buttons */
 #row-for-buttons-and-controls {
      display: flex;          
      flex-direction: row;    
      gap: 1rem;              
      align-items: center;    
      justify-content: flex-start;
      margin-left: 2rem;
    }


/* DEBUG  CSS FOLLOWS : TODO REMOVE THIS */
#small-gray {
  font-size: 10px;
  color: gray;
  font-family: sans-serif;
}

#debugSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

#debugSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 28px;
}

#slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

#myToggle:checked + #slider {
  background-color: #2196f3;
}

#myToggle:checked + #slider::before {
  transform: translateX(22px);
}
